/* Блок с цитатой */
div.citate{
    background-color: rgba(0, 0, 0, 0);
    margin-top: 100px;
}
/* Стилизация цитаты */
.lao{
    text-align: right;
    padding: 0 50px;
    font-style: italic;
    font-weight: 200;
    position: relative;
}

/* Общие стили для псевдоэлементов, вставляем кавычки */
.lao::before, .lao::after{
    content: '';
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 40px;
}
/* Уникальные стили для кавычек в цитате */
.lao::before{
    background-image: url('./images/icon/left.svg');
    top: -30px;
    left: 0px;
}

.lao::after{
    background-image: url('./images/icon/right.svg');
    background-repeat: no-repeat;
    bottom: 60px;
    right: 0px;
}
/* Стилизация Выразившего данную цитату */
.lao p {
    margin-top: 60px;
    margin-right: -40px;
    font-size: 48px;
}
