/* Подвал сайта */
.footer{
    background-color: #332D2D;
    color: var(--main-color)
}
.footer .flex{
    padding: 20px 0;
}
.footer-logo{
    margin-top: 5px;
}
.sochial{
    position: relative;
    display: flex;
    gap: 30px;
    margin-left: 50px;
}
.sochial a{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
}
.vkontakte{
    background-image: url('./images/icon/vk.svg');
    background-position: center center;
}
.vkontakte:hover, .twiter:hover, .instagram:hover{
    width: 20px;
    height: 20px;
}
.vkontakte:hover{
    background-image: url('./images/icon/vk__hover.svg');
}
.twiter{
    background-image: url('./images/icon/twiter.svg');
}
.twiter:hover{
    background-image: url('./images/icon/twiter__hover.svg');
}
.instagram{
    background-image: url('./images/icon/instagram.svg');
}
.instagram:hover{
    background-image: url('./images/icon/instagram__hover.svg');
}