/* Подвал сайта */
.footer{
    background-color: #332D2D;
    color: var(--main-color)
}
.footer .flex{
    padding: 20px 0;
}
.footer-logo{
    margin-top: 5px;
}
.sochial{
    position: relative;
    display: flex;
    gap: 30px;
    margin-left: 50px;
}
.sochial a{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
}
.vkontakte{
    background-image: url('./image/icon/vkontakte.svg');
    background-position: center center;
}
.twiter{
    background-image: url('./image/icon/twitter.svg');
}
.telegram{
    background-image: url('./image/icon/telegram.svg');
}
.instagram{
    background-image: url('./image/icon/instagram.svg');
}