/* Медиа запросы для мобильных устройств */
@media screen and (max-width: 768px){
    .header .flex{
        padding: 20px 0;
    }
    .first-screen{
        background-image: url('images/bg/small__bg.jpg');
        background-image: url('images/bg/small__bg.webp');
    }
    /* Выпадашка */
.line{
    display: block;
    width: 40px;
    height: 3px;
    background-color: white;
}
.line:not(:first-child){
    margin-top: 10px;
}
.burger{
    display: block;
    /* margin-top: 5px; */
    position: absolute;
    right: 0px;
}
.burger label{
    display: none;
}
    .logo{
        margin-left: 0;
    }
    .burger label{
    display: block;
    margin-top: -5px;
    }
    .nav{
        display: none;
    }
    .toggle{
    display: none;
}
h1{
    text-align: center;
}
label{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50px;
    position: absolute;
    right: 20px;
    cursor: pointer;
    z-index: 1;

}
.toggle + label + nav{
    right: -100%;
}
.toggle:checked + label + .nav{
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding: 10px 0;
    gap: 10px;
    width: 190px;
    height: auto;
    top: 0px;
    right: 0px;
    background-color: rgb(255, 250, 250, .3);
    transition: all 1s ease-in;
}
.toggle:checked + label + .nav .links{
    color: black;
}
.toggle:checked + label + .nav .links:hover{
    color: #FE9E0E;
}
.toggle:checked + label + .nav li:not(:first-child){
    margin-left: 0;
}

.toggle:checked + label .line:first-child{
    position: relative;
    transform: rotate(45deg);
    top: 22px;
    left: 22px;
    z-index: 2;
}
.text-content h1{
    padding-top: 0px;
}
.toggle:checked + label .line:nth-child(2){
    opacity: 0;
}
.toggle:checked + label .line:nth-child(3){
    position: relative;
    transform: rotate(-45deg);
    top: -4px;
    left: 20px;
    z-index: 2;
}
    .text-content{
        margin-left: 0;
    }
    .pluses{
        background-image: url('images/bg/plusess__small.jpg');
        background-image: url('images/bg/plusess__small.webp');
    }
    
    .about-me, .pluses, .citate, .skills, .works, .contacts{
        padding: 30px 0;
    }
    .main-photo{
        margin-right: 0;
    }
    .modile__flex {
        justify-content: center;
    }
    .left-panel, .right-panel{
        width: 100vw;
    }
    .right-panel{
        margin-top: 20px;
    }
    .galerry{
        justify-content: center;
    }
    .work{
        justify-content: start;
        gap: 2rem;
    }
    .footer .flex{
        flex-wrap: wrap;
        justify-content: start;
        gap: 15px;
    }
    p.email{
        margin-top: 0;
    }
    div.footer-logo{
        margin-top: 3px;
    }
    .footer-logo img{
        width: 100px;
    }
    .sochial{
        margin-top: 0px;
        margin-left: 60px;
        /* order: 2; */
        justify-content: space-between;
    }
    .email{
        margin-top: 5px;
    }
}
/*Медиа запросы для планшетов*/
@media screen and (max-width: 959px){
    .first-screen{
        background-image: url('images/bg/tablet__bg.jpg');
        background-image: url('images/bg/tablet__bg.webp');
    }
    .pluses{
        background-image: url('images/bg/plusess__tablet.jpg');
        background-image: url('images/bg/plusess__tablet.webp');
    }
    .text-content{
        margin-left: 0;
    }
    .main-photo{
        margin-left: 10px;
        margin-right: 0;
    }
    .text-part{
        margin-right: 20px;
    }
}