/* Медиа запросы для мобильных устройств */
@media screen and (max-width: 768px){
    .text-content{
        margin-left: 0;
    }
    .pluses{
        background-image: url('images/bg/plusess__small.jpg');
        background-image: url('images/bg/plusess__small.webp');
    }
    
    .about-me, .pluses, .citate, .skills, .works, .contacts{
        padding: 30px 0;
    }
    .main-photo{
        margin-right: 0;
    }
    .modile__flex {
        justify-content: center;
    }
    .left-panel, .right-panel{
        width: 100vw;
    }
    .right-panel{
        margin-top: 20px;
    }
    .galerry{
        justify-content: center;
    }
    .work{
        justify-content: start;
        gap: 2rem;
    }
    .footer .flex{
        flex-wrap: wrap;
        justify-content: start;
        gap: 15px;
    }
    p.email{
        margin-top: 0;
    }
    div.footer-logo{
        margin-top: 3px;
    }
    .footer-logo img{
        width: 100px;
    }
    .sochial{
        margin-top: 0px;
        margin-left: 60px;
        /* order: 2; */
        justify-content: space-between;
    }
    .email{
        margin-top: 5px;
    }
}
/*Медиа запросы для планшетов*/
@media screen and (max-width: 959px){
    .pluses{
        background-image: url('images/bg/plusess__tablet.jpg');
        background-image: url('images/bg/plusess__tablet.webp');
    }
    .text-content{
        margin-left: 0;
    }
    .main-photo{
        margin-left: 10px;
        margin-right: 0;
    }
    .text-part{
        margin-right: 20px;
    }
}