/* Блок с достоинствами */
.pluses{
    background-color: #AF9F9F;
    padding-top: 90px;
    padding-bottom: 75px;
}
/* Специфические стили для заголовка второго уровня */
.pluses h2{
    color: var(--main-color);
}
/* Блочки с плюсами */
.pluse{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    gap: 30px;
}
/* Стили для подпунктов в плюсах */
.element{
    padding-top: 40px;
    background-color: var(--main-color);
    position: relative;
    flex: 1 1 300px;
    min-width: 200px;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 50px 100px max-content;
    gap: 10px;
}
/* Добавление иконок в подпункты  общие требования*/
.adaptive::before, .semantic::before, .fast::before{
    content: '';
    width: 110px;
    grid-row: 2/3;
    grid-column: 2/3;
    justify-self: center;
}
/* Иконки в подпунктах, отдельно для каждого пункта */
.adaptive::before{
    background-image: url('./images/icon/tablet.svg');
}
.semantic::before{
    background-image: url('./images/icon/html5.svg');
}
.fast::before{
    background-image: url('./images/icon/lighthouse.svg');
}
/* Уникальные стили для элементов которые используются в блоке плюсов */
.element h3 {
    text-align: center;
    grid-column: 1/-1;
            align-self: center;
            justify-self: center;
}
.element p {
    margin-top: 156px;
    background-color: #C4C4C4;
    padding: 25px 10px;
    grid-column: 1/-1; 
            grid-row: 2 /-1;
}
